{% extends "base.html" %}
{% block content %}
    {% include 'header.html' %}
    {% from "_formhelpers.html" import render_field %}

    <div id="page-content" class="single-page">
        <div class="container">
            <!-- Breadcrumb -->
<div class="breadcrumb-wrapper">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{{ url_for('home') }}"><i class="fa fa-home"></i> Trang chủ</a></li>
            <li class="active">Đăng ký tài khoản</li>
        </ul>
    </div>
</div>

            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md-6">
                    <div class="heading"><h2>Đăng ký tài khoản mới</h2></div>

                    {% include '_messages.html' %}

                    <form action="{{ url_for('customer_register_route') }}" method="post" name="form_register" id="ff1">
                        {{ form.hidden_tag() }}

                        <div class="form-group">
                            {{ render_field(form.username, class="form-control", placeholder="Username") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form.first_name, class="form-control", placeholder="Họ") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form.last_name, class="form-control", placeholder="Tên") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form.email, class="form-control", placeholder="Email address") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form.phone_number, class="form-control", placeholder="Số điện thoại") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form.password, class="form-control", placeholder="Mật khẩu") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form.confirm, class="form-control", placeholder="Nhập lại mật khẩu") }}
                        </div>
                        <div class="form-group">
                            <label>Giới tính:</label>
                            {{ render_field(form.gender, class="form-control") }}
                        </div>

                        <div class="form-group" style="display: flex; justify-content: flex-end;">
                            <a href="{{ url_for('customer_login') }}" style="color:#207fcaba">
                                Đã có tài khoản? Đăng nhập ngay
                            </a>
                        </div>

                        <button type="submit" class="btn btn-2" style="padding: 5px 26px;">
                            Đăng ký
                        </button>
                    </form>

                </div>

                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
{% endblock content %}
